<div class="center jumbotron" >
  <% if logged_in? %>
    <div class="container">
      اهلا بك في موقع عادل  
    </div>
  <% else %>
    <div class="container">
      اهلا بك في موقع رحمة 
      </br>
      يرجى تسجيل الدخول لفتح الموقع 
    </div>
  <% end %>
</div>
