

<%= link_to 'Back', invoices_path %>

<div class=w-100>
  <h1 class="form-header"> الفاتورة </h1>  
</div>
<div class="form-container">
<%= form_for(@invoice, url: invoices_path) do |form| %>
<%= render 'form', form: form %>
</br>
</br>

<%= form.submit " إنشاء فاتورة جديدة ", class: "btn btn-primary"  %>
<% end %>
</div>
