<p id="notice"><%= notice %></p>

<h1>V1 Provider Operations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# <% @v1_provider_operations.each do |v1_provider_operation| %> %>

    <%# <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New V1 Provider Operation', new_v1_invoice_path %>
