<h1>Editing Distributor Operation</h1>

<%= form_for(@distributor_operation, url: distributor_operation_path) do |form| %>
<%= render 'form', form: form %>
<%= form.submit "Save changes", class: "btn btn-primary" %>
<% end %>
