<h1>Editing Distributor Operation</h1>

<%= render 'form', distributor_operation: @distributor_operation %>

<%= link_to 'Show', @distributor_operation %> |
<%= link_to 'Back', distributor_operations_path %>
