
<%= link_to 'Back', distributor_operations_path %>

<h1> Distributor Operation</h1>
<div>
<%= form_for(@distributor_operation, url: distributor_operations_path) do |form| %>
<%= render 'form', form: form %>
</br>
<%= form.submit " إنشاء عملية جديدة ", class: "btn btn-primary",style: 'float: rigth; width: 50%'  %>
<% end %>
</div>
