<header class="navbar navbar-fixed-top ">
<div class='header'>
    <div style="float: left">
      <%= image_tag("hedar.jpeg", alt: "Shao logo", width: '120') %>
    </div>
    <div class="div_menu" id="menu">
      <ul>
        <li><%= link_to "الرئيسية" ,root_path %> </li>
        <li><a href="#"><font color="#7C7171">&nbsp&nbsp تسجيل الدخول  &nbsp&nbsp    </font></a></li>
        <li><%= link_to "تسجيل حساب جديد ",  new_user_path%> </li>
        <li><a href="#"><font color="#7C7171">&nbsp&nbsp   الخدمات &nbsp&nbsp </font></a></li>
        <li><a href="#"><font color="#7C7171">&nbsp&nbsp   المساعدة &nbsp&nbsp </font></a></li>
      </ul>
    </div> 
  </div>
  <br>
</header>